.container {
  height: 2000px; /* Adjust height to fit your content */
  position: relative;
}

#chartContainer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#yearDisplay {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #000;
}

#timeline {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  border-left: 2px solid #000;
  overflow-y: scroll;
}

.timeline-item {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
}

.timeline-item.active::before {
  background-color: #f00; /* Update to desired active color */
}

  